html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font: 100% Roboto, Helvetica, sans-serif;
  background: #101010;
  max-width: 2160px;
  overflow-x: hidden;
  overflow-y: auto; }

#nav-main {
  background-color: #1f1f1f;
  min-height: 90px;
  min-width: 100%;
  border-bottom: dotted 1px rgba(102, 128, 153, 0.8);
  position: fixed;
  top: 0;
  z-index: 4000; }
  #nav-main header img {
    position: relative;
    width: 11%;
    padding: 10px;
    left: 15px; }
  #nav-main .left {
    position: relative;
    left: 10px; }
  #nav-main .right {
    position: absolute;
    right: 15px;
    top: 45%; }
    #nav-main .right a {
      padding: 15px;
      height: 30px;
      width: 50px;
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      transition: 200ms;
      margin: 5px;
      background-color: rgba(77, 102, 128, 0.8); }
      #nav-main .right a::before {
        content: ' ';
        border: 1px solid rgba(77, 102, 128, 0.8); }
      #nav-main .right a:hover {
        color: yellow;
        background-color: rgba(51, 77, 102, 0.8); }

.btn-language {
  padding-right: 24px; }
  .btn-language::before {
    position: absolute;
    width: 34px;
    height: 33px;
    padding: 10px;
    top: -18px;
    right: 2px;
    text-align: center; }
    .btn-language::before:hover {
      border-color: rgba(26, 51, 77, 0.8); }
.btn-login::before {
  position: absolute;
  width: 54px;
  height: 33px;
  padding: 10px;
  top: -18px;
  left: 2px;
  text-align: center; }
  .btn-login::before:hover {
    border-color: rgba(26, 51, 77, 0.8); }
.btn-register::after {
  position: absolute;
  width: 60px;
  height: 33px;
  padding: 10px;
  top: -18px;
  right: 2px;
  text-align: center; }
  .btn-register::after:hover {
    border-color: rgba(26, 51, 77, 0.8); }

#background-home {
  height: 100%; }

.wrapper-outer {
  position: relative;
  top: 0px;
  height: 100%; }
.wrapper-inner {
  position: absolute;
  top: 130px;
  margin: auto; }

#footer-main {
  position: sticky;
  min-width: 1080px;
  width: 104%;
  left: 0px;
  bottom: 0px;
  transform: translateX(-40px); }
  #footer-main footer figure .footer-div:nth-of-type(1) {
    min-width: 100%;
    min-height: 10px;
    background-color: #393939;
    margin: 0;
    padding: 2px 15px 2px 10px; }
    #footer-main footer figure .footer-div:nth-of-type(1) ul {
      list-style: none; }
      #footer-main footer figure .footer-div:nth-of-type(1) ul li {
        padding: 5px; }
        #footer-main footer figure .footer-div:nth-of-type(1) ul li a {
          color: #929394;
          text-decoration: none; }
        #footer-main footer figure .footer-div:nth-of-type(1) ul li:hover a {
          color: white; }
  #footer-main footer figure .footer-div:nth-of-type(2) {
    min-width: 100%;
    min-height: 10px;
    background-color: #2d2d2d;
    margin: 0;
    padding: 2px 15px 2px 10px; }
    #footer-main footer figure .footer-div:nth-of-type(2) ul {
      list-style: none; }
      #footer-main footer figure .footer-div:nth-of-type(2) ul li {
        padding: 5px; }
        #footer-main footer figure .footer-div:nth-of-type(2) ul li a {
          color: #929394;
          text-decoration: none; }
        #footer-main footer figure .footer-div:nth-of-type(2) ul li:hover a {
          color: white; }
  #footer-main footer figure .footer-div:nth-of-type(3) {
    min-width: 100%;
    min-height: 10px;
    background-color: #202020;
    margin: 0;
    padding: 2px 15px 2px 10px; }
    #footer-main footer figure .footer-div:nth-of-type(3) ul {
      list-style: none; }
      #footer-main footer figure .footer-div:nth-of-type(3) ul li {
        padding: 5px; }
        #footer-main footer figure .footer-div:nth-of-type(3) ul li a {
          color: #929394;
          text-decoration: none; }
        #footer-main footer figure .footer-div:nth-of-type(3) ul li:hover a {
          color: white; }
  #footer-main footer figure .footer-div:nth-of-type(4) {
    min-width: 100%;
    min-height: 10px;
    background-color: #131313;
    margin: 0;
    padding: 2px 15px 2px 10px; }
    #footer-main footer figure .footer-div:nth-of-type(4) ul {
      list-style: none; }
      #footer-main footer figure .footer-div:nth-of-type(4) ul li {
        padding: 5px; }
        #footer-main footer figure .footer-div:nth-of-type(4) ul li a {
          color: #929394;
          text-decoration: none; }
        #footer-main footer figure .footer-div:nth-of-type(4) ul li:hover a {
          color: white; }

.menu-main {
  position: absolute;
  top: -80px;
  left: 250px; }
  .menu-main li {
    float: left;
    margin: 5px;
    padding: 10px 25px;
    list-style: none;
    font-size: larger; }
    .menu-main li:hover a {
      color: white; }
    .menu-main li:hover ul {
      position: relative;
      top: 20px;
      left: -30px;
      display: block;
      font-size: small;
      box-shadow: 3px 3px 9px rgba(2, 2, 2, 0.5);
      width: 150px; }
      .menu-main li:hover ul li {
        background: #252525;
        width: 67%;
        transform: translateX(-5px);
        float: none;
        margin: 0 5px;
        transition: 200ms; }
        .menu-main li:hover ul li:last-child {
          border-bottom: 2px solid black; }
        .menu-main li:hover ul li:hover {
          background: #282828; }
          .menu-main li:hover ul li:hover a {
            color: white; }
    .menu-main li a {
      text-decoration: none;
      color: #929394; }
    .menu-main li ul {
      display: none; }

.btn-reset {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: rgba(51, 77, 153, 0.8);
  color: white;
  padding: 6px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  text-decoration: none;
  border-radius: 5px;
  filter: invert(0);
  transition: filter 250ms; }
  .btn-reset:hover {
    filter: invert(80%); }

#login-popup {
  display: none;
  position: fixed;
  z-index: 4001;
  background-color: rgba(10, 10, 10, 0.7);
  width: 100%;
  height: 100%; }
  #login-popup:target {
    display: block; }
  #login-popup form {
    position: absolute;
    padding: 15px;
    top: 20%;
    left: 40%;
    border: #101010;
    width: 350px;
    height: 200px;
    background: rgba(40, 40, 40, 0.9);
    box-shadow: 0 0 10px 3px #131313; }
    #login-popup form input {
      padding: 10px;
      margin: 3px;
      clear-after: left; }
    #login-popup form input[type=submit] {
      position: relative;
      top: 35px;
      border: 3px solid #4282ce;
      background: none;
      color: white;
      border-radius: 3px; }
    #login-popup form #remember-me {
      display: none; }
      #login-popup form #remember-me ~ label {
        position: relative;
        padding: 8px;
        background: none;
        color: white;
        left: 5px;
        top: 10px;
        user-select: none; }
        #login-popup form #remember-me ~ label::before {
          position: absolute;
          padding: 2px;
          content: ' ';
          top: 3px;
          left: -1px;
          width: 115px;
          height: 20px;
          border: 3px solid #ef1535;
          border-radius: 3px; }
      #login-popup form #remember-me:checked ~ label {
        color: white; }
        #login-popup form #remember-me:checked ~ label::before {
          content: ' ';
          border: 3px solid green; }

/*# sourceMappingURL=base.css.map */
